* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Add your own custom styles here */
.product-card {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  font-size: medium;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.image {
  max-height: 300px;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  margin-left: 47%;
  margin-bottom: 30px;
}

h1 {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

h2 {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.register-form {
  display: flex;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.login-form {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.product-name {
  margin-top: 30px;
}

.price {
  padding: 0px 10px 10px 10px;
}

.single-price {
  padding: 0px 10px 10px 10px;
}

.searchTerm {
  margin-left: 10px;
  margin-bottom: 10px;
} 

.email {
  padding-right: 5px;
}

.password {
  padding-right: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 45%;
    justify-items: center;
    font-size:x-large;
}

.order {
  padding-top: 20px;
}

.create-account {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.mission {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}

.navbar {
  margin-bottom: 20px;
  background-color: salmon;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: larger;
}

.website-title {
  font-style: normal;
  color: darkblue;
  text-decoration: none;
}

.navbar-home {
  padding-left: 50px;
  color: white;
  text-decoration: none;
}

.navbar-acc {
  padding-left: 50px;
  color: white;
  text-decoration: none;
}

.navbar-cart {
  padding-left: 50px;
  color: white;
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.username {
  display: flex;
  justify-content: left;
  align-items: left;
  font-weight: 500;
  font-size: large;
  margin-left: 10px;
  margin-bottom: 5px;
}

.name {
  display: flex;
  justify-content: left;
  align-items: left;
  font-weight: 500;
  font-size: large;
  margin-left: 10px;
  margin-bottom: 5px;
}

.email-user {
  display: flex;
  justify-content: left;
  align-items: left;
  font-weight: 500;
  font-size: large;
  margin-left: 10px;
  margin-bottom: 5px;
}

.phone-number {
  display: flex;
  justify-content: left;
  align-items: left;
  font-weight: 500;
  font-size: large;
  margin-left: 10px;
  margin-bottom: 5px;
}

.navbar-logout {
  margin-left: 50px;
}

.single-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.single-price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
}

.single-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 0px;
}
